<footer class="row center-xs">
    <div class="col-xs-12 col-sm-4">
        <h3>Sitemap</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/code-of-conduct">Code Of Conduct</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 center-xs">
        <h3>About</h3>
        <a href="http://barcelonajs.org"><img src="/assets/img/bcnjs.png" class="logo" alt="BarcelonaJS Logo"></a><br>
        <div class="social">
            <a href="https://twitter.com/bcnjs">
                <img src="/assets/img/icons/twitter.svg" class="icon">
            </a>
            <a href="https://github.com/BarcelonaJS">
                <img src="/assets/img/icons/github.svg" class="icon">
            </a>
            <a href="https://plus.google.com/communities/115705669406517039298">
                <img src="/assets/img/icons/googleplus.svg" class="icon">
            </a>
            <a href="https://vimeo.com/barcelonajs">
                <img src="/assets/img/icons/vimeo.svg" class="icon">
            </a>
            <a href="https://flickr.com/groups/barcelonajs/">
                <img src="/assets/img/icons/flickr.svg" class="icon">
            </a>
            <a href="http://barcelonajs.herokuapp.com">
                <img src="/assets/img/icons/slack.svg" class="icon">
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Organizers</h3>
    </div>
    <div class="github col-xs-12">
        <a href="http://barcelonajs.org">BarcelonaJS</a> 2016 • Hosted on GitHub
    </div>
</footer>
