<head>
    <title>BarcelonaJS</title>
    <meta charset="utf-8">
    <meta name="author" content="BarcelonaJS">
    <meta name="description" content="BarcelonaJS Website.">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:site_name" content="BarcelonaJS">
    <meta property="og:title" content="BarcelonaJS">
    <meta property="og:url" content="http://barcelonajs.org">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bcnjs">
    <meta name="twitter:title" content="BarcelonaJS">
    <meta name="description" content="BarcelonaJS is a monthly event for JavaScript developers, geeks and techies.">
    <meta property="og:description" content="BarcelonaJS is a monthly event for JavaScript developers, geeks and techies.">
    <meta name="twitter:description" content="BarcelonaJS is a monthly event for JavaScript developers, geeks and techies.">
    <meta property="og:image" content="">
    <meta name="twitter:image" content="">
    <link href="assets/css/flexboxgrid.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/barcelonajs.css" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="auth0-variables.js"></script>
    <script src="barcelona.js"></script>
</head>
