{{#if workPerformed}}
	<div class="slides" data-url="{{workPerformed.url}}" >
		<a class="embedly-card" href="{{workPerformed.url}}" target="_blank">Slides</a>
	</div>
{{else}}
	<div class="slides not-available">
		<span>Not available</span>
	</div>
{{/if}}

<div class="code">
	{{#if workFeatured}}
		<a href="{{workFeatured.url}}" target="_blank">Code</a>
	{{else}}
		<span>Not available</span>
	{{/if}}
</div>
<div class="video">
	{{#if recordedIn}}
		<a href="{{recordedIn.video.id}}" target="_blank">Video</a>
	{{else}}
		<span>Not available</span>
	{{/if}}
</div>
