{{#if workPerformed}}
	<div class="slides" data-url="{{workPerformed.url}}" >
		{{> materialLink title = "Slides" url = workPerformed.url}}
	</div>
{{else}}
	<div class="slides not-available">
		<span>Not available</span>
	</div>
{{/if}}

<div class="code">
	{{#if workFeatured}}
		{{> materialLink title = "Code" url = workFeatured.url}}
	{{else}}
		<span>Not available</span>
	{{/if}}
</div>

<div class="video">
	{{#if recordedIn}}
		{{> materialLink title = "Video" url = recordedIn.video.id}}
	{{else}}
		<span>Not available</span>
	{{/if}}
</div>
