<section class="sponsors">
    <div class="wrap">
        <div class="col-xs-12 center-xs">
            <h2 class="title">Sponsors</h2>
        </div>
        <div class="row center-xs">
            {{#each sponsors}}
            <div class="col-xs-12 col-md-4 center-xs">
                <a href="{{url}}" style="background-image: url(/assets/img/sponsors/{{image}})" class="sponsor-logo">
                    <span>{{name}}</span>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
