<section class="submit-talk">
  <div class="wrap center-xs">
    <h2 class="title">Submit a talk</h2>
    <div class="row center-xs">
      <div id="talk-submit-form" class="talk-submit-form__wapper">
        <div class="talk-submit-form__field-wrapper">
          <label for="title">Title</label>
          <div class="talk-submit-form__input-wrapper">
            <input name="title" />
          </div>
        </div>
        <div class="talk-submit-form__field-wrapper">
          <label for="language">language</label>
          <select name="language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <div class="talk-submit-form__field-wrapper">
          <label for="target">target</label>
          <select name="target">
            <option value="beginner">Beginner</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>
          </select>
        </div>
        <div class="talk-submit-form__field-wrapper">
          <label for="twitter">Twitter user</label>
          <div class="talk-submit-form__input-wrapper">
            <input name="twitter" value="@" />
          </div>
        </div>
        <div class="talk-submit-form__field-wrapper">
          <label for="description">Description</label>
          <div class="talk-submit-form__input-wrapper">
            <textarea value="" name="description"></textarea>
          </div>
        </div>
        <a href="#" id="talk-submit-button" class="btn green">Propose talk</a>
      </div>
    </div>
  </div>
</section>