<section class="talks">
  <div class="wrap center-xs">
    <h2 class="title">Talks</h2>
    <div class="row center-xs">
      {{#each nextEvent.talks}}
        {{#if name}}
          <article class="speaker col-xs-12 col-md-4">
            <img class="avatar" src="{{performer.image}}">
            <h4 class="name">{{performer.name}}</h4>
            <h3 class="talk-title">{{name}}</h3>
            <div class="description">
              {{{excerpt}}}
            </div>
            <p>
              <b>Language</b>:
              <span class="language">{{inLanguage}}</span>
            </p>
            <a href="https://twitter.com/{{performer.twitter}}">
              <img src="assets/img/icons/twitter.svg" class="icon-member">
            </a>
          </article>
        {{else}}
          <article class="speaker col-xs-12 col-md-4">
            <img class="avatar" style="background-image: url(https://regmedia.co.uk/2014/08/11/gbhjuytfghu87yhji87y.png?x=648&y=429&crop=1);">
            <p class="description">
              <strong>This slot could be yours! <a href="https://github.com/BarcelonaJS/speakers">Submit your talk now.</a></strong> You did some crazy stuff with JavaScript? You want to show it to the community? Drop us a line on your topic on <a href="https://twitter.com/bcnjs">Twitter</a>.
            </p>
            <a href="https://twitter.com/{{performer.twitter}}">
              <img src="assets/img/icons/twitter.svg" class="icon-member">
            </a>
          </article>
        {{/if}}
      {{/each}}
    </div>
  </div>
</section>
