<div class="talk-info">
	<ul class="meta">
		<li class="level">
			<span class="label">Level</span>
			<span class="value">{{#if level}}{{level}}{{else}}N/A{{/if}}</span>
		</li>
		<li class="language">
			<span class="label">Language</span>
			<span class="value">{{inLanguage}}</span>
		</li>
		<li class="duration">
			<span class="label">Duration</span>
			<span class="value">{{formatDuration duration}}</span>
		</li>
	</ul>
	{{#if tags}}
		<ul class="tags">
			{{#each tags}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	{{/if}}
</div>