<section class="about">
  <div class="wrap row">
    <article class="about-info col-xs-12 col-sm-4">
      <h4>For Everyone</h4>
      <p>We think coding is awesome and everyone should feel welcome at our event. This includes that we are expecting all participants to be awesome to each other and respect the <a href="/code-of-conduct.html">Code of Conduct</a>.</p>
    </article>
    <article class="about-info col-xs-12 col-sm-4">
      <h4>Open Source</h4>
      <p>Open source is the heart of BarcelonaJS. All our events, our website and our software are open source and can be modified by everyone.</p>
    </article>
    <article class="about-info col-xs-12 col-sm-4">
      <h4>Non Profit</h4>
      <p>BarcelonaJS is a registered non-profit association in Spain and is subject to Spanish law. All our events are not-for-profit and run by volunteers.</p>
    </article>
  </div>
</section>
